<mat-toolbar color="white">
  <span>Navbar</span>
  <button mat-button routerLink="/post/list" color="accent">
    <mat-icon>description</mat-icon>
    Post
  </button>
  <button mat-button routerLink="./Albums" color="accent">
    <mat-icon>album</mat-icon>
    Albums
  </button>
  <button mat-button routerLink="#" color="accent">
    <mat-icon>photo</mat-icon>
    Photos
  </button>
  <app-back></app-back>
  <button mat-button routerLink="#" color="accent">
    <mat-icon>person</mat-icon>
    User
  </button>
  <mat-menu #idiomaMenu="matMenu">
    <button mat-menu-item (click)="changeLanguage('es')">Español</button>
  <button mat-menu-item (click)="changeLanguage('en')">Inglés</button>
  </mat-menu>
  <button mat-icon-button [matMenuTriggerFor]="idiomaMenu" color="accent">
    <mat-icon>language</mat-icon>
  </button>
</mat-toolbar>
