.container {
    margin: 50px auto;
    padding: 20px;
    max-width: 600px;
    background-color: #f2f2f2;
    border-radius: 10px;
    display: flex; // Activamos Flexbox
    flex-direction: column; // Los elementos se organizan en columna
    align-items: center; // Centra los elementos en el eje cruzado (horizontalmente en este caso)

    h1 {
        margin-bottom: 20px;
        text-align: center;
    }

    p {
        margin-bottom: 15px;
        width: 100%; // Asegura que los párrafos utilicen todo el ancho disponible
        text-align: justify; // Opcional, para un alineamiento uniforme del texto
    }

    button {
        margin-top: 20px;
        align-self: flex-start; // Alinea el botón al inicio del contenedor, manteniendo su posición original
    }
}
